<div class="md-copyright">
    <svg width="30" height="35" viewBox="0 0 110 157" fill="none" xmlns="http://www.w3.org/2000/svg" style="margin: 10px 0px; border-radius: 0px;">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M84.3558 149.905L84.6278 156.422H25.3113L25.9688 149.495C26.9059 149.822 27.9146 150 28.9655 150H83.0345C83.4834 150 83.9246 149.968 84.3558 149.905ZM83.5789 118.016C85.0542 105.973 91.4513 94.9165 97.3827 84.6648C101.435 77.6615 105.269 71.0338 107.169 64.7237C105.644 66.1798 103.661 69.1531 101.339 72.6349C95.365 81.5924 87.1462 93.9158 78.7041 92.4309C72.1653 90.2346 70.1016 87.1569 67.4512 81.5729C58.6668 83.2842 51.6853 78.0939 49.1502 71.829L49.6547 97.1373L38.2067 64.303C29.2594 61.4077 21.0529 47.6705 29.2755 49.2439L44.0398 52.069C54.1479 54.1965 59.8395 40.5263 50.7927 33.4305C48.8681 32.0663 29.5655 23.0575 25.9341 22.0333C22.6753 21.1142 18.797 22.4063 16.3092 25.2398L1.27172 53.1659C-0.289859 55.32 -0.298054 57.574 0.623595 59.5576L28.1401 114.776C28.5418 115.534 28.6711 116.761 28.6933 118.004C28.7837 118.001 28.8745 118 28.9655 118H83.0345C83.2173 118 83.3988 118.005 83.5789 118.016ZM99.5868 41.5737C103.4 37.011 112.639 52.7489 107.651 58.4053L87.888 84.5886C87.4318 85.1875 87.0741 85.5209 86.4795 86.0751C86.4338 86.1177 86.3866 86.1617 86.338 86.2071C78.5969 91.747 67.7003 82.8627 74.9223 73.8741L99.5868 41.5737ZM83.4473 24.9855C84.44 24.6046 91.9343 30.1241 95.6024 33.9272C96.6648 35.2376 97.092 37.2502 95.8311 38.8796L67.1748 75.9118C66.4807 76.5576 66.0856 76.7727 64.9717 77.1003C56.882 77.9497 48.5446 69.329 55.958 62.0983L83.4473 24.9855ZM65.9571 11.529C66.8972 10.3146 78.9998 20.0708 79.2729 21.9728L50.351 60.0165C47.5091 63.7547 38.3506 58.6581 36.8188 53.7425C49.045 60.7271 69.6407 48.7819 51.9943 29.5676L65.9571 11.529ZM44.4531 0.422462C49.2134 -1.39154 59.7643 2.88429 62.4225 8.51027L48.3196 26.8736L29.3541 19.0321L44.4531 0.422462Z" fill="white"/>
        <path fill-rule="evenodd" clip-rule="evenodd" d="M31.8448 122H79.1552C83.4878 122 87 124.964 87 128.621V139.379C87 143.036 83.4878 146 79.1552 146H31.8448C27.5122 146 24 143.036 24 139.379V128.621C24 124.964 27.5122 122 31.8448 122ZM43.4378 125.064H67.7624C70.5789 125.064 72.8621 127.348 72.8621 130.164V138.451C72.8621 141.267 70.5789 143.551 67.7624 143.551H43.4378C40.6213 143.551 38.3381 141.267 38.3381 138.451V130.164C38.3381 127.348 40.6213 125.064 43.4378 125.064Z" fill="white"/>
    </svg>
    <br>
    Gadgetbridge and this documentation has licensed under
    <a href="{{ config.repo_url }}/src/branch/master/LICENSE" target="_blank">AGPLv3</a>.
    <br>
    Gadgetbridge logo is licensed under
    <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank">CC BY-SA 4.0</a>. See also all
    <a href="{{ config.repo_url }}/src/branch/master/LICENSE.artwork" target="_blank">artwork licenses.</a>
    <br>
    Made possible by
    <a href="{{ config.repo_url }}/src/branch/master/CONTRIBUTORS.rst" target="_blank">contributors.</a>
    <br>
    For contributing the documentation, see <a href="{{ config.extra.constants.docs_repo }}" target="_blank">documentation repository.</a>
    <br>
    Built with <a href="https://github.com/squidfunk/mkdocs-material" target="_blank">Material for Mkdocs.</a>
</div>